.App {
  font-family: sans-serif;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: 250px;
}

.card {
  height: 300px;
  margin: 0 auto;
  width: 400px;
}

.card-footer {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  top: 500px;
  position: absolute;
  width: 400px;
}

.card-header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  position: absolute;
  width: 400px;
}

.header-text {
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0;
}

.hero-image {
  border-radius: 10px;
  width: 400px;
}
